<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>二静</title>
        <meta charset="utf-8" />
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <!-- default header name is X-CSRF-TOKEN -->
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <!-- elementUI css文件-->
        <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}" />

        <!-- 登录界面css -->
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />


	</head>
    <body>
     <!--  <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="Login" />
        </form>
        <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
    </body>-->
     <div id="app">
          <el-container>
              <el-header height="100px"></el-header>
              <el-main >
                  <div th:align="center" th:class="login">
                      <el-card >
                          <h2>Login</h2>
                          <el-form   class="login-form" ref="form"  @submit.native.prevent="login" >

                              <el-form-item prop="username">
                                  <el-input v-model="username" placeholder="Username" prefix-icon="fas fa-user" autofocus="autofocus" ></el-input>
                              </el-form-item>
                              <el-form-item prop="password">
                                  <el-input
                                          v-model="password"
                                          placeholder="Password"
                                          type="password"
                                          prefix-icon="fas fa-lock"
                                  ></el-input>
                              </el-form-item>
                              <el-form-item>
                                  <el-button
                                          :loading="loading"
                                          class="login-button"
                                          type="primary"
                                          native-type="submit"
                                          block
                                  >Login</el-button>
                              </el-form-item>
                              <el-form-item>
                                  <p th:if="${loginError}" class="error">Wrong user or password</p>
                                  <a class="forgot-password" href="https://oxfordinformatics.com/">Forgot password ?</a>
                              </el-form-item>
                          </el-form>

                      </el-card>
                  </div>
              </el-main>
              <el-footer></el-footer>

          </el-container>

      </div>
    </body>
    <script type="text/javascript"   th:src="@{/js/jquery-1.7.2.js}"></script>

    <script type="text/javascript"   th:src="@{/js/vue.js}"></script>
    <script type="text/javascript"   th:src="@{/js/vue-resource.js}"></script>
    <script type="text/javascript"   th:src="@{/js/axios.min.js}"></script>

    <!-- elementUI js-->
    <script type="text/javascript"   th:src="@{/js/index.js}"></script>
    <script type="text/javascript"   th:src="@{/js/login.js}"></script>

</html>
