<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}" />

	</head>
    <body>
      <!--
       <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
            <label for="username">Username</label>:
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">Password</label>:
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="Log in" />
        </form>
        <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
        -->

      <div id="app">
          <el-row>
              <el-button>默认按钮</el-button>
              <el-button type="primary">主要按钮</el-button>
              <el-button type="success">成功按钮</el-button>
              <el-button type="info">信息按钮</el-button>
              <el-button type="warning">警告按钮</el-button>
              <el-button type="danger">危险按钮</el-button>
          </el-row>
      </div>
    </body>

    <!-- import Vue before Element -->
<!--
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
-->
    <!-- import JavaScript -->
<!--
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
-->
    <script type="text/javascript"   th:src="@{/js/vue.js}"></script>

    <script type="text/javascript"   th:src="@{/js/index.js}"></script>

    <script>
        new Vue({
            el: '#app',
            data: function() {
                return { visible: false }
            }
        })
    </script>
</html>
