<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>二静</title>
    <meta charset="utf-8" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- elementUI css文件-->
    <link rel="stylesheet" href="/css/index.css" th:href="@{/css/index.css}" />

    <link rel="stylesheet" href="/css/misspassword.css" th:href="@{/css/misspassword.css}" />


</head>
<body>
<!--
  <p th:if="${loginError}" class="error">Wrong user or password</p>
   <form th:action="@{/login}" method="post">
       <label for="username">Username</label>:
       <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
       <label for="password">Password</label>:
       <input type="password" id="password" name="password" /> <br />
       <input type="submit" value="Login" />
   </form>
   <p><a href="/index" th:href="@{/index}">Back to home page</a></p>
-->
<div id="reset">

    <el-dialog
            title="重置密码"
            width="30%"
            center="true"
            :visible="true"
            show-close="false"
            modal="false"
    >


        <el-form  @submit.navite="newsubmit" action="/" method="post" label-width="100px" class="demo-dynamic" label-position="top">
            <el-form-item label="账户名称" >
                <el-input v-model="email"  autofocus="autofocus" required></el-input>
            </el-form-item>

            <el-form-item>
                <el-button type="primary" native-type="submit">提交</el-button>
                <el-button type="info" plain native-type="reset">重置</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

</div>

</body>
<script type="text/javascript"   th:src="@{/js/jquery-1.7.2.js}"></script>

<script type="text/javascript"   th:src="@{/js/vue.js}"></script>
<script type="text/javascript"   th:src="@{/js/vue-resource.js}"></script>
<script type="text/javascript"   th:src="@{/js/axios.min.js}"></script>

<!-- elementUI js-->
<script type="text/javascript"   th:src="@{/js/index.js}"></script>
<script type="text/javascript"   th:src="@{/js/misspassword.js}"></script>

</html>
